.header, .footer, .section1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px; /* This will apply to the header and li, however change li later */
    font-weight: bold; 
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
}

.section1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}

.section1 .subtext {
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
}

.left {
    width: 400px;
}

.img {
    width: 400px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.section2 {
    padding: 50px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.cards {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 200px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

p {
    margin: 0;
    padding: 0;
}

button {
    padding: 8px 25px;
    background-color: #3882F6;
    border: none;
    border-radius: 12px;
}